<h2>New Comment</h2>

<%= form_with(model: comment, url: project_comments_path(comment.project)) do |form| %>
  <div>
    <%= form.text_area :text, size: "70x5" %>
    <%= form.submit "Comment", disabled: (comment.project.status == 'archived'), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
<% end %>
