
<div class="rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= comment.created_at.to_formatted_s(:short) %></div>
    <p class="text-gray-700 text-base">
      <%= simple_format(comment.text) %>
    </p>
  </div>
</div>
