
<%= form_with(model: project, url: project_path(project)) do |form| %>    
  <div class="flex items-center justify-between">
    <%= form.submit project.status == 'archived' ? 'Activate' : 'Archive', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>