
<div class="w-full">
  <h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-black-900 font-extrabold dark:text-black-200">
    Projects
  </h1>
  
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project_name(project), project , class: 'underline' %></li>
    <% end %>
  </ul>

</div>
