
<h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-black-900 font-extrabold dark:text-black-200">
  <%= project_name(@project) %>
</h1>

<div class="flex">
  <%= render partial: "form", locals: { project: @project } %>
</div>

<%= render partial: "comments/form", locals: { comment: Comment.new(project: @project) } %>
<%= render partial: "comments/index", locals: { comments: @project.comments } %>
